<div class="header">
    <div class="header-box">
        <a class="header-box-a">
            <img class="header-box-img" src="../../../assets/images/logo_otherpage.png" alt="">
        </a>
        <div class="header-right">
            <ul class="header-nav">
                <li class="header-nav-item active">精选</li>
                <li class="header-nav-item">分类</li>
                <li class="header-nav-item">电台</li>
                <li class="header-nav-item">我的</li>
                <li class="header-nav-item">主播入驻</li>
            </ul>
            <div class="header-user">
                <img src="../../../assets/images/logo_otherpage.png" alt="">
            </div>
            <div class="header-search">
                <div class="search-box">
                    <input type="text" placeholder="搜索专辑/电台/节目">
                    <i class="anticon anticon-search search-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
