<nz-layout class="layout">
  <nz-header>
      <div class="logo">
          <img src="../../../assets/images/logo_otherpage.png" alt="">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li>
      </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
      <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>