<div class="audio-player">
  <div class="audio-wrap">
    <div class="audio-action">
      <div class="prev icon"></div>
      <div class="play-pause icon paused"></div>
      <div class="next icon"></div>
    </div>
    <img class="audio-img" src="../../../assets/images/audio-player/audio-img.jpg!200" alt="audio-image">
    <div class="detail">
      <div class="program-meta">
        <span class="program-title">VOL.613 环太军演“孤立”中国？太自恋了吧</span>
        <span class="podcaster">六六六</span>
      </div>
      <div class="channel-meta">
        <span class="channel-title">胡言不乱语</span>
      </div>
      <div class="progress">
        <div class="time"></div>
        <div class="progress-bar"></div>
      </div>
    </div>
    <div class="volume"></div>
    <div class="history-icon icon"></div>
    <div class="playlist-icon icon"></div>
  </div>
</div>