<div class="audio-player">
  <div class="audio-wrap">
    <div class="audio-action">
      <div class="prev icon"></div>
      <div class="play-pause icon paused"></div>
      <div class="next icon"></div>
    </div>
    <img class="audio-img" src="../../../assets/images/audio-player/audio-img.jpg!200" alt="audio-image">
    <div class="detail">
      <div class="program-meta">
        <span class="program-title">VOL.613 环太军演“孤立”中国？太自恋了吧</span>
        <span class="podcaster">六六六</span>
      </div>
      <div class="channel-meta">
        <span class="channel-title">胡言不乱语</span>
      </div>
      <div class="progress">
        <div class="time">
          <span class="time-elapsed">00:05</span> / <span class="time-total">09:45</span>
        </div>
        <div class="progress-bar">
          <div class="progress-bar-total"></div>
          <div class="progress-bar-elapsed" style="width: 0.930573%; display: block;">
            <span class="progress-bar-handle"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="volume">
      <div class="volume-icon icon"></div>
      <div class="volume-bar">
        <div class="volume-bar-full"></div>
        <div class="volume-bar-current">
          <span class="volume-bar-handle"></span>
        </div>
      </div>
    </div>
    <div class="history-icon icon"></div>
    <div class="playlist-icon icon"></div>
  </div>
</div>