<div class="audio-player">
  <div class="audio-wrap">
    <div class="audio-action">
      <div class="prev icon"></div>
      <div class="play-pause icon paused"></div>
      <div class="next icon"></div>
    </div>
    <img class="audio-img" src="" alt="">
    <div class="detail">
      <div class="program-meta"></div>
      <div class="channel-meta"></div>
      <div class="progress"></div>
    </div>
    <div class="volume"></div>
    <div class="history-icon icon"></div>
    <div class="playlist-icon icon"></div>
  </div>
</div>