.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .84);
    line-height: 0;
    // text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    .audio-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 960px;
        height: 70px;
        margin: 0 auto;

        .icon {
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

        .audio-action,
        .audio-img,
        .detail,
        .volume,
        .history-icon,
        .playlist-icon {
            display: inherit;
        }
        
        .audio-action {
            justify-content: space-around;
            align-items: center;
            width: 138.91px;
            height: inherit;
            .prev {
                width: 15px;
                height: 18px;
                // margin: 26px 25px 26px 0;
                background-image: url("../../../assets/images/audio-player/prev@2x.png");

                &:hover {
                    background-image: url("../../../assets/images/audio-player/prev-hover@2x.png");
                }
            }

            .play-pause {
                width: 50px;
                height: 50px;
                background-image: url("../../../assets/images/audio-player/play@2x.png");

                &:hover {
                    background-image: url("../../../assets/images/audio-player/play-hover@2x.png");
                }
            }

            .next {
                width: 15px;
                height: 18px;
                background-image: url("../../../assets/images/audio-player/next@2x.png");

                &:hover {
                    background-image: url("../../../assets/images/audio-player/next-hover@2x.png");
                }
            }
        }

        .audio-img {
            width: 54px;
            height: 54px;
        }

        .detail {
            width: 420px;
            text-align: left;

            .program-meta {
                .program-title, .podcaster, .channel-title {
                    line-height: 1.3;
                    display: inline-block;
                    color: white;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .program-title {
                    font-size: 14px;
                    max-width: 300px;
                }
                .podcaster {
                    margin-left: 10px;
                    font-size: 12px;
                    max-width: 100px;
                }
                .channel-title {
                    margin-top: 6px;
                    max-width: 300px;
                    color: #FF7C36;
                    font-size: 12px;
                }
            }
        }
    }
}

