<div class="carousel-container">
    <nz-carousel>
        <div nz-carousel-content *ngFor="let banner of banners">
            <img src="{{banner.img_url}}" alt="">
        </div>
    </nz-carousel>
</div>
<div class="choiceness-container" nz-row [nzType]="'flex'" [nzJustify]="'space-between'">
    <div class="left" nz-col [nzSpan]="16">
        <div class="choiceness-box" *ngFor="let category of categories;" >
                <div class="box-title">
                    <div class="title-left">
                        <div class="title-icon sprite3 jingpinneirong_1x"></div>
                        <h2>{{category.attr.name}}</h2>
                        <ul>
                            <li class="label"> > </li>
                            <li class="label" *ngFor="let item of category.attr.attrs" >{{item.name}}</li>
                            <li class="label">更多</li>
                        </ul>
                    </div>
                    <div class="title-right">
                        <span>换一批</span> <i class="anticon anticon-sync"></i>
                    </div>
                </div>
            <div class="box-content">
                <!-- 取数组的前四个 -->
                <ng-container *ngFor="let cate of category.recommends;let i = index;"> 
                    <div class="box-item" *ngIf="i < 4" (click)="playThis(cate)">
                        <div class="item-image">
                            <div class="backdrop"></div>
                            <img src="{{cate.img_url}}" alt="">
                            <div class="count">
                                <div class="count-num">
                                    {{cate.playcount}} {{index}}
                                </div>    
                            </div>
                            <div class="sprite2 sprite2-play"></div>
                        </div>
                        <div class="item-desc">
                            {{cate.title}}-{{cate.desc}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="right" nz-col [nzSpan]="7">
        <div class="QR_BG">
            <img src="../../../assets/images/QR_picture.png" alt="">
        </div>
        <div class="radio-warp">
            <div class="radio-title">
                <div class="title-name">
                    电台
                </div>
                <div class="more">
                    更多
                </div>
            </div>
            <div class="radio-box">
                <ng-container *ngFor="let channel of channelList; let i = index;">
                    <div class="radio-item" *ngIf="i < 15"  >
                        <a>
                            <img src="{{channel.cover}}" alt="">
                        </a>
                        <div class="radio-item-right">
                            <div class="right-name text-ellipsis">{{channel.channel_title}}</div>
                            <div class="right-desc text-ellipsis">{{channel.nowplaying.title}}</div>
                            <div class="right-time text-ellipsis">
                                {{channel.nowplaying.start_time}}-{{calcu(channel.nowplaying.start_time, channel.nowplaying.duration)}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-audio [channels]="channels" [channelId]="channel_id"></app-audio>