<div class="carousel-container">
    <nz-carousel>
        <div nz-carousel-content *ngFor="let banner of banners">
            <img src="{{banner.img_url}}" alt="">
        </div>
    </nz-carousel>
</div>
<div class="choiceness-container" nz-row [nzType]="'flex'" [nzJustify]="'space-between'">
    <div class="left" nz-col [nzSpan]="16">
        <div class="choiceness-box" *ngFor="let category of categories;" >
                <div class="box-title">
                    <div class="title-left">
                        <div class="title-icon sprite3 jingpinneirong_1x"></div>
                        <h2>{{category.attr.name}}</h2>
                        <ul>
                            <li class="label"> > </li>
                            <li class="label" *ngFor="let item of category.attr.attrs" >{{item.name}}</li>
                            <li class="label">更多</li>
                        </ul>
                    </div>
                    <div class="title-right">
                        <span>换一批</span> <i class="anticon anticon-sync"></i>
                    </div>
                </div>
            <div class="box-content">
                <!-- 取数组的前四个 -->
                <div *ngFor="let cate of category.recommends.slice(0,4)"> 
                    <div class="box-item" >
                        <div class="item-image">
                            <div class="backdrop"></div>
                            <img src="{{cate.img_url}}" alt="">
                            <div class="count">
                                <div class="count-num">
                                    {{cate.playcount}} {{index}}
                                </div>    
                            </div>
                        </div>
                        <div class="item-desc">
                            {{cate.title}}-{{cate.desc}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right" nz-col [nzSpan]="7">
        <div class="QR_BG">
            <img src="../../../assets/images/QR_picture.png" alt="">
        </div>
        <div class="radio-warp">
            <div class="radio-title">
                <div class="title-name">
                    电台
                </div>
                <div class="more">
                    更多
                </div>
            </div>
            <div class="radio-box">
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
                <div class="radio-item">
                    <a>
                        <img src="../../../assets/images/QR_picture.png" alt="">
                    </a>
                    <div class="radio-item-right">
                        <div class="right-name text-ellipsis">交通电台交电台交电台交电台交</div>
                        <div class="right-desc text-ellipsis">我是描述</div>
                        <div class="right-time text-ellipsis">10:00 - 11:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
