.carousel-container {
    width: 1004px;
    height: 328px;
    margin: 0 auto;

    .ant-carousel .slick-slide {
        text-align: center;
        height: 328px;
        line-height: 328px;
        // background: -webkit-linear-gradient(
        //     9deg,
        //     rgb(23, 10, 53) 0%,
        //     rgb(1, 6, 26) 100%
        // );
        color: #fff;
        overflow: hidden;

        img {
            width: 800px;
            height: 100%;
            margin: 0 auto;
        }
    }

    // 颜色渐变
    // .ant-carousel .slick-slide:nth-of-type(1) {
    //     background: -webkit-linear-gradient(
    //         9deg,
    //         rgb(48, 47, 53) 0%,
    //         rgb(45, 44, 52) 100%
    //     );
    // }

    h3 {
        color: #fff;
    }
}
.choiceness-container {
    width: 1004px;
    margin: 15px auto 0;
    background: #f5f5f8;

    .left {
        background: #f5f5f8;

        .choiceness-box {
            position: relative;
            background: #ffffff;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);

            .box-title {
                // background: red;
                display: flex;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                margin-bottom: 10px;

                .title-left {
                    flex: 1;

                    .title-icon {
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        margin-right: 10px;
                        float: left;
                    }
                    .jingpinneirong_1x {
                        background-position: -365px -5px;
                    }
                    .sprite3 {
                        background-image: url("../../../assets/images/sprite3.png");
                    }
                    
                    h2 {
                        font-size: 20px;
                        display: inline-block;
                    }
                    ul {
                        display: inline-block;
                        
                        .label {
                            font-size: 14px;
                            color: #3d3d3d;
                            margin-left: 10px;
                            display: inline-block;
                            &:first-child {
                                font-size: 18px;
                                color: #cccccc;
                                cursor: default;
                            }
                        }
                        .label + .label:hover {
                            color: red;
                            cursor: pointer;
                        }
                    }
                }
                .title-right {
                    display: inline-block;
                    line-height: 27px;
                }
                .title-right span:hover {
                    color: red;
                    cursor: pointer;
                }
            }
            .box-content {
                display: flex;
                justify-content: space-between;
                
                .box-item {
                    width: 140px;
                    
                    .item-image {
                        position: relative;
                        height: 140px;
                        cursor: pointer;
                        margin-bottom: 10px;
                        
                        .backdrop {
                            position: absolute;
                            width: 140px;
                            height: 140px;
                            background: #000;
                            opacity: 0.5;
                            display: none;
                        }
                        
                        .sprite2 {
                            background-image: url("../../../assets/images/sprite2.png");
                        }

                        .sprite2-play {
                            display: none;
                            position: absolute;
                            margin-top: -98px;
                            margin-left: 49px;
                            width: 42px;
                            height: 42px;
                            background-position: -386px 0;
                        }
                        
                        img {
                            width: 140px;
                            height: 140px;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            box-sizing: border-box;
                        }

                        .count {
                            position: absolute;
                            bottom: 0;
                            left: 1px;
                            width: 100%;
                            padding-left: 10px;
                            background-image: linear-gradient(
                                -90deg,
                                transparent,
                                #000
                            );

                            .count-num {
                                display: inline-block;
                                line-height: 28px;
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                    .item-image:hover .backdrop, .item-image:hover .sprite2-play {
                        display: block;
                    }
                    .item-desc {
                        font-size: 14px;
                        color: #333;
                        line-height: 20px;
                        max-height: 40px;
                        height: inherit;

                        -webkit-line-clamp: 2;

                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        position: relative;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 !important;
                    }
                }
            }
        }
    }
    .right {
        background: #f5f5f8;

        .QR_BG {
            width: 293px;
            height: 278px;
            margin: 0 auto 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .radio-warp {
            width: 293px;
            margin: 0 auto;
            position: relative;
            padding: 20px;
            background: #fff;
            .radio-title {
                display: flex;
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;

                .title-name {
                    font-size: 20px;
                    flex: 1;
                }
                .more {
                    line-height: 30px;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
            .radio-box {
                .radio-item {
                    margin: 15px 0 3px;
                    display: flex;
                    a img {
                        width: 70px;
                        height: 70px;
                        box-sizing: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }
                    .radio-item-right {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 10px;
                        color: #3d3d3d;
                        width: 173px;
                        height: 70px;

                        .right-name {
                            font-size: 14px;
                            line-height: 14px;
                        }
                        .right-desc {
                            font-size: 14px;
                            line-height: 14px;
                        }
                        .right-time {
                            font-size: 14px;
                            line-height: 14px;
                        }

                        .text-ellipsis {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}
